<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="property-list">
  <ion-list *ngIf="viewMode==='list'">
    <ion-item-sliding *ngFor="let restaurant of restaurants">
      <button ion-item (click)="openRestaurantDetail(restaurant)">
        <ion-thumbnail item-left>
          <img src="{{restaurant.thumbnail}}"/>
        </ion-thumbnail>
        <h2>{{restaurant.title}}</h2>
        <p>{{restaurant.city}}<br>{{restaurant.address}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>
</ion-content>

<ion-footer padding>
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="list">
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" (ionSelect)="showMap()">
      <ion-icon name="map"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
